[submodule "tools/rizen"]
	path = tools/rizen
	url = https://github.com/rizinorg/rizin.git
[submodule "tools/squalr"]
	path = tools/squalr
	url = https://github.com/Squalr/Squalr.git
[submodule "lib/hunterpie"]
	path = lib/hunterpie
	url = git@github.com:SupaStuff/HunterPie-v2.git
