<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="FKnS" value="https://nuget.pkg.github.com/ForksKnivesAndSpoons/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <FKnS>
        <add key="Username" value="SupaStuff" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUl5V84BghEqLffMSNI9B1gAAAAACAAAAAAAQZgAAAAEAACAAAABBFpQDJr5idKYJhN5AWETxCAi7xbjxbqdRP+Vg5fHU5wAAAAAOgAAAAAIAACAAAAAKlqOmCBxaQXY7LZdkS35QZjMegUrxZBU55RpTvPI5jTAAAADqtwsBmTUoTgYcnsZV+QJLULjTYk5gvyCgTDX8TyZAqGN/X7hNCogpGTo27cJcFWFAAAAAzndv1NhHOx/YlJ0Hhw4H4Qlc50aenVhjwoMqYSrWxdH2JPix+vDWWQCwUysO3lmDhJyNRk5DrFwBtElNxX64Dg==" />
      </FKnS>
  </packageSourceCredentials>
</configuration>
