<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="FKnS" value="https://nuget.pkg.github.com/ForksKnivesAndSpoons/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <FKnS>
      <add key="Username" value="SupaStuff" />
      <add key="ClearTextPassword" value="e146524998ca6b7c25d86e6326af86314e9e8325" />
    </FKnS>
  </packageSourceCredentials>
</configuration>
